img {
    pointer-events: none;
}

.unselectable {
    -webkit-user-select: none;
    user-select: none;
}
.wf-loading * {
    opacity: 0;
}

@media (prefers-color-scheme: dark) {
    body {
    background-color: #111111;
    color: #f7f7f7;
	}
  .title-name {
    color: #f7f7f7;
  }

   .header {
    background-color: #111111;
    border-bottom-color: #f7f7f7;
    
   }
  
}

/* @-moz-document url-prefix() {
    .glass-effect {
        background-color: rgba(0, 0, 0, 1.0);
    }

.background-image {
    filter: blur(5px);
    saturate: 150%;
    brightness: 90%;
}

}
.glass-effect {
    backdrop-filter: blur(5px) saturate(150%) brightness(90%);
    -webkit-backdrop-filter: blur(5px) saturate(150%) brightness(90%);
    background-color: rgba(0, 0, 0, 0.1);
}
.navbar-mobile {
    radial-gradient: (circle closest-side at 62% 63%, hsla(0, 0%, 91.3%, 0.2)) 
} */
