img {
    pointer-events: none;
}

.unselectable {
    user-select: none;
    -webkit-user-select: none;
}

.wf-loading * {
    opacity: 0;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
    background: #444444;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #777777;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background: #999999;
}