# File Types
*.env
*.key
*.pem
*.crt
*.log

# Folders
node_modules
archive
logs
.VSCodeCounter
backups
references
xd
images

#Specified Files
portfolio-website.code-workspace

#File Name Patterns
archive.js*
test.js*
favicon_io-black.zip
favicon_io-white.zip
